<h1>{{product.title}} </h1>
<img src="{{product.featured_image | image_url:width:300}}">
<p>{{product.price |money}} </p>
<div>
{{product.description}}
</div> 

{% form 'product',product %}
<select name='id'>
{% for variant in product.variants %}
<option value={{ variant.id}}>
{{variant.title}}
</option>

{% endfor %}
</select>
<button class='add' type="submit">{{"General.add_to_cart"|t}} </button>
{% endform %}
